*{
    margin: 0;
    padding: 0;
    font-family:"Poppins",sans-serif ;
    box-sizing: border-box;
   
}
.container{
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url('mint.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.5);
}
.calculator{
    background-color: l;
    padding:20px;
    margin:10px;
    align-content: center;
    border-radius: 20px;
    border: 5px solid black;
}
.calculator form input{
    border:0;
    outline: 0;
    width:60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px gray, 5px 5px 15px black;
    background:transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 5px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}



form .display input{
    width: 200px;
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;

}
form input.equal {
    width: 145px;
  }
  
  .header h2{
    position: fixed; /* or position: absolute; */
   top: 0;
   left: 0;
   padding: 10px;
   text-align: center;
   margin: 0px;
   font-size: 40px;
   width: 100%;
   height: 60px; 
   
}

form input.operator{
    color:darkgreen;
    font-weight: bold;
}
form input.equal, input.operator{
    color: darkgreen;
    font-weight: bold;
}

